# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Agnts special skills
.agents/
.claude/

# Local sample data (large, not for the repo)
"Citizen's Charter 2023.pdf"